__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
build/
dist/
*.sqlite3
instance/
.webassets-cache
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
coverage.xml
htmlcov/
.windsurf/
netlify.toml
windsurf_deployment.yaml
